<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="Gerbera.css">
    <title>Gerbera</title>
</head>
<body>
<header>
    <h1>Online Virágos Kertem</h1>
</header>

<nav>
    <a href="Gerbera.html">Gerbera</a>
    <a href="tulipán.html">Tulipán</a>
    <a href="Kardvirag.html">Kardvirág</a>
    <a href="Kaktusz.html">Kaktusz</a>
    <a href="Rózsa.html">Rózsa</a>
</nav>

<main>
    <section id="gerbera">
        <h2>Gerbera</h2>
        <p>A gerbera egy gyönyörű virág, amely számos színben megtalálható.</p>
    </section>

    <div class="container mt-5">
        <img src="Kepek/Gerbera.jpg" alt="Gerbera" title="Gerbera">
        <h3><u>Jellemzői:</u></h3>
        <p>  gerberát a világ számos más országában is széles körben termesztik, Magyarországon pedig leginkább cserepekben és vágott virágként találjuk meg. A termesztési és teleltetési nehézségek miatt a gerberát gyakran egynyári növényként kezelik, és virágzás után újakkal helyettesítik.</p>
    </div>


    <div class="container mt-5">
        <img src="Kepek/Gondozas.jpg" alt="Gerbera" title="Gerbera">
        <h3><u>Gondozása:</u></h3>
        <p>  A gerbera gyönyörű növény, de elég nehéz termeszteni. Világos, de a közvetlen napfénytől védett helyre, valamint humuszos, termékeny, áteresztő és enyhén nedves talajra van szükségük.

            Érzékenyek a szárazságra, de az “árvízre” is (néha a lisztharmat is megtámadja őket), ezért gyakran, de mérsékelten kell öntözni őket.</p>
    </div>


    <div class="container mt-5">
        <div class="col-sm-4"></div>
        <img src="Kepek/Cserepes_Gerbera.webp" alt="Gerbera" title="Cserepes gerbera">
        <h3><u>Cserepes Gerbera</u></h3>
        <p> A gerberát főként hibrid gerbera fajtákként termesztik (a g. Jameson és a g. viridifolia fajtákból származik). A gerberák nem szeretik a társaságot, és a legjobb, ha szoliterként (A kert jól látható, kitüntetett pontjára ültetett dekoratív növényeket nevezzük „szoliternek”) egy cserépbe ültetjük őket. A magasabb fajták virágai, mind az üvegházi, mind a cserepes fajták, alkalmasak vágásra, és a vázában sokáig frissek maradnak.

        </p>
    </div>
    </div>

    <div class="container mt-5">
        <div class="col-sm-4"></div>
        <img src="Kepek/Purple_gerbera.jpg" alt="Gerbera" title="Lila Gerbera">
        <h3><u>Fajtái:</u></h3>
        <p>
            A gerberának számos fajtája létezik, amelyek magasságban és szerkezetben (telt és szimpla, szirmok egyenesek vagy fodrosak), valamint virágszínben (fehér, krémszínű, rózsaszín, piros, bordó, sárga vagy kétszínű) különböznek.

            A legnépszerűbbek a beltéri termesztésre alkalmas mini gerbera vagy törpe gerberák, mint például a Royal csoport, amely körülbelül 30-50 cm-re nő meg. (pl. ‘Royal White’, ‘Royal Orange Scarlet’, ‘Royal Yellow’).
        </p>
    </div>
    </div>

</body>
</html>