<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="Kardvirag.css">
    <title>Kardvirág</title>
</head>
<body>
<header>
    <h1>Online Virágos Kertem</h1>
</header>

<nav>
    <a href="Gerbera.html">Gerbera</a>
    <a href="tulipán.html">Tulipán</a>
    <a href="Kardvirag.html">Kardvirág</a>
    <a href="Kaktusz.html">Kaktusz</a>
    <a href="Rózsa.html">Rózsa</a>
</nav>


<main>
    <section id="kardvirag">
        <h2>Kardvirág</h2>
        <p>A kardvirág egy exotikus virág, amelynek jellegzetes alakja van.</p>
    </section>



    <div class="container mt-5">
        <img src="Kepek/kardvirághagyma.jpg" alt="Kardvirag" title="Kardvirag">
        <h3><u>Ültetése:</u></h3>
        <p>
            A kardvirág ültetésére az április elejétől/közepétől május végéig terjedő időszak a megfelelő. Ezzel összhangban a kardvirágokat az ezt megelőző időszakban, februárban-márciusban értékesítjük, ekkor tudod a Florapontnál megvásárolni.

            Ha a kardvirágokat nem egyszerre, hanem több ütemben telepítjük, akkor ezzel megnyújthatjuk a virágzási időszakot. A kardvirág az ültetéstől számítva kb 90 nap alatt kezd el virágozni.


        </p>


        <div class="container mt-5">
            <img src="Kepek/Gondozas.jpg" alt="Kardvirag" title="Kardvirag">
            <h3><u>Gondozása:</u></h3>
            <p>
                A kardvirág nagyon igénytelen növény, bármilyen talajban megél, de a kissé homokos talajt jobban kedveli.
                Teljes napfényt igényel.
                Vízigénye nem nagy, de szárazság esetén öntözzük.
                Ültetéskor, a virágzás megkezdése után és szükség esetén nyáron is adjunk tápoldatot.
                A kardvirág júniustól szeptemberig virágzó hagymás növény, mely gyönyörű vágott virágnak is.
                A növény a napos helyet szereti, ezért kertünk napsütötte szegletébe ültessük.
                A talaj, amelybe a kardvirághagymákat ültetni akarjuk, legyen tápanyagban gazdag, és jó legyen a vízáteresztő képessége.
                Elvirágzás után hagyjuk a növényt visszaszáradni, ne vágjuk le a virág szárait, mivel az tápanyagot raktároz a gumókba.
            </p>
        </div>


        <div class="container mt-5">
            <div class="col-sm-4"></div>
            <img src="Kepek/Kardvirág.JPG" alt="Kardvirag" title="Kardvirag">
            <h3><u>Elterjedése:</u></h3>
            <p>
                A nemzetségbe hozzávetőlegesen 250 faj tartozik; közülük 10 él a mediterrán Európában és Ázsiában, a többi Fekete-Afrikában. Fő elterjedési területük (163 faj) a csupán Namíbia és a Dél-afrikai Köztársaság déli részén elhelyezkedő fokföldi flórabirodalom
            </p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="col-sm-4"></div>
        <img src="Kepek/Kardvirág_megjelenese.jpg" alt="Kardvirag" title="Kardvirag">
        <h3><u>Megjelenése:</u></h3>
        <p>
            Kerek, részarányos gumókból nő. A hagyma barnás, rostos hártyák több rétegébe burkolózik.

            Szára általában nem ágazik el, és 1-9 keskeny, kard alakú, vesszőhüvelybe zárt, hosszant barázdált levelet növeszt. A levélpengék keresztmetszete lehet sima vagy kereszt alakú.

            Az illatos füzérvirágzatok nagyok és egyoldalúak, két bőrszerű, elnyúló, zöld murvalevéllel. A csészelevelek és a szirmok megjelenése majdnem azonos. A háti csészelevél a legnagyobb; ez a három porzószál fölé hajol.

            A kardvirágfajok sokféle színű nemesített változata nő a házak kertjeiben: vannak telt virágú, fodros szirmú hibridek is. A vadon élő fajok virágai általában szerényebbek és kisebbek, kivadult kerti rokonaikénál
        </p>
    </div>
    </div>
</body>
</html>