<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="Rózsa.css">
    <title>Rózsa</title>
</head>
<body>
<header>
    <h1>Online Virágos Kertem</h1>
</header>

<nav>
    <a href="Gerbera.html">Gerbera</a>
    <a href="tulipán.html">Tulipán</a>
    <a href="Kardvirag.html">Kardvirág</a>
    <a href="Kaktusz.html">Kaktusz</a>
    <a href="Rózsa.html">Rózsa</a>
</nav>




<main>
    <section id="rozsa">
        <h2>Rózsa</h2>
        <p>A rózsa, a rózsafélék családjába tartozó egyik növénynemzetség, illetve az ide tartozó cserjék virága. </p>
    </section>



    <div class="container mt-5">
        <img src="Kepek/Rozsa_ultetese.jpg" alt="Rózsa" title="Rózsa">
        <h3><u>Ültetése:</u></h3>
        <p>
            Az ültetés előtt teljesen át kell nedvesíteni a földlabdájukat.
            Jelöljük ki a rózsagödrök helyét, amelyek legalább 80 centiméterre legyenek egymástól.
            Ássuk meg a gödröt, ami legalább 60 centiméter mély és széles legyen.
            Az ültetőgödröt töltsük fel vízzel, majd várjuk meg míg elszivárog.
            A rózsát ültetés előtt 1-2 órára, de 24 óránál nem hosszabb időre áztassuk vízbe.
            Az ültetéshez ásott lyuk legyen széles és mély, hogy a gyökérzet számára elegendő helyet biztosítsunk.
            A növényt úgy ültessük el, hogy az oltás helye 3 ujjnyival a talajszint alá kerüljön.
            A rózsák hagyományos ültetési ideje ősszel és kora tavasszal van, konténeres rózsákat az év bármely fagymentes időszakában ültethetünk, nyári ültetésre is ezeket válasszuk.
            A megvásárolt rózsa ültetése előtt válasszunk az igényeinek megfelelő ültetési helyet a kertben, meleg, napos helyre ültessük, mivel fényigényes növény.


        </p>


        <div class="container mt-5">
            <img src="Kepek/Rozsa_gondozasa.jpg" alt="Rózsa" title="Rózsa">
            <h3><u>Gondozása:</u></h3>
            <p>
                A rózsa közkedvelt növény, a legtöbb kertben megtalálható. A legtöbb faj Ázsiában őshonos. Több mint háromszáz faj és több ezer fajta van. A rózsák növekedésük alapján lehet mini, bokor, magas törzsű, futó, csüngő vagy talajtakaró. A rózsa virágja alapján lehet mini, kicsi, közepes vagy nagy. A rózsa színe változatos.

                A nemes vagy más néven tearózsák ritkább tüskéivel, egyenkénti nagy virágaikkal, és hosszú virágzási idejükkel tűnnek ki. Ezek a fajták különösen alkalmasak bokorként, magas törzsű rózsaként vagy vágott virágként.

                A polianta típusú rózsák erőteljes növekedésű fajták, amelyek bokrain számtalan kisebb virág van, ernyős csoportokba rendeződve. A polianta rózsák időjárástól függően májustól, júniustól, késő őszig virágoznak.
            </p>
        </div>


        <div class="container mt-5">
            <div class="col-sm-4"></div>
            <img src="Kepek/Rózsa.jpg" alt="Rózsa" title="Rózsa">
            <h3><u>Illat:</u></h3>
            <p>
                A rózsaillat javítja a memóriát

                Az eredményesebb tanulást segíti, ha az ember rózsát szagolgat, de nemcsak ébren, hanem álmában is – olvasható a Science című amerikai tudományos folyóiratban. Német kutatók mutatták ki, hogy bizonyos illatok képesek reaktiválni az újonnan tanultakat, miközben a kísérleti alanyok alszanak, és a kísérleti személyek később is jobban emlékeznek a tanultakra.

                Kimutatták, hogy a memorizált információk alvás közben rögzülnek, az illatok vagy esetleg más stimulánsok tovább erősítik a tanulási képességet.

                A 74 kísérleti alanynak egyebek között csak egyszer felfedett kártyapárokat kellett megjegyeznie, és eközben rózsaillatot éreztek. Aztán lefeküdtek aludni, ám mágneses rezonanciás vizsgálatot is végrehajtottak rajtuk: agyuk alvás közbeni tevékenységét vizsgálták, több ízben is ugyanazzal a rózsaillattal serkentették agyukat.

                A rózsaillatos éjszaka után az emberek a kártyapárok 97,2 százalékára emlékeztek, ám ha nem érezhettek rózsaillatot alvás közben, csupán 86 százalékos volt az eredmény. A vizsgálat során az is kiderült, hogy az alvás közben érzékelt rózsaillat az agynak azt a részét (hippocampus) aktiválta, amely a tanulással áll összefüggésben. Nem volt közömbös, hogy az alvás mely szakaszában hajtották végre a vizsgálatot.
            </p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="col-sm-4"></div>
        <img src="Kepek/Rozsa_szaporitasa.JPG" alt="Rózsa" title="Rózsa">
        <h3><u>Szaporítása:</u></h3>
        <p>
            Az alapfajokat magról szaporítják, a terjedő tövűeket tőosztással, a nemes rózsákat szemzik: vad fajokra, illetve tüskétlen alanyfajtákra; vagy zölddugványozzák.
        </p>
    </div>
    </div>
</body>
</html>