<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="tulipan.css">
    <title>Tulipán</title>
</head>
<body>
<header>
    <h1>Online Virágos Kertem</h1>
</header>

<nav>
    <a href="Gerbera.html">Gerbera</a>
    <a href="tulipán.html">Tulipán</a>
    <a href="Kardvirag.html">Kardvirág</a>
    <a href="Kaktusz.html">Kaktusz</a>
    <a href="Rózsa.html">Rózsa</a>
</nav>



<main>
    <section id="tulipan">
        <h2>Tulipán</h2>
        <p>A tulipán egy klasszikus virág, amely tavasszal nyílik.</p>
    </section>



    <div class="container mt-5">
        <img src="Kepek/Tulipan.jpg" alt="Tulipán" title="Tulipán">
        <h3><u>Leírása:</u></h3>
        <p>
            Tobozszerű hagymájának oldalán húzódik meg a jövő évi kisebb tartalék- vagy fiókhagyma, és pikkelyei alatt további apró rügyhagymák rejtőznek. A hagymát elszáradt, barnás buroklevelek fedik.

            A hagymából 2–6 széles, sima, húsos, megnyúlt, elliptikus vagy hosszúkás, lapos vagy középen csatornás levél közül tőkocsányon emelkedik ki egyetlen (ritkán 4-5) virága. A hat, harangként összeboruló lepellevél piros vagy sárga, ritkábban ibolyás, rózsaszín vagy fehér; a tövükön általában sötétebb folttal. Közülük a külső három néha keskenyebb és hegyesebb, mint a belsők. Hat porzója van; a felső állású termő három termőlevélből nőtt össze.

            Toktermése többmagvú.


        </p>


        <div class="container mt-5">
            <img src="Kepek/Gondozas.jpg" alt="Tulipán" title="Tulipán">
            <h3><u>Gondozása:</u></h3>
            <p> <ul>
            <li>Ültetés: Ültess hagymákat ősszel, 10-15 cm mélyen, legalább 10 cm távolságra egymástól.</li>
            <li>Öntözés: Mérsékelt öntözésre van szükség, a talajt hagyd kiszáradni az öntözések között.</li>
            <li>Tápanyag: Trágyázd be a talajt a hagymák ültetésekor, majd tavasszal és virágzás után is.</li>
            <li>Levélzet: Ne vágd le a leveleket, amíg el nem sárgulnak, mert ekkor tápanyagot raktároz a hagyma a következő évben való virágzáshoz.</li></ul></p>
        </div>


        <div class="container mt-5">
            <div class="col-sm-4"></div>
            <img src="Kepek/Tulipan_eletmodja.jpg" alt="Tulipán" title="Tulipán">
            <h3><u>Életmódja:</u></h3>
            <p>
                Elsősorban a sziklás, köves vagy alacsony füvű száraz gyepekben nő; főleg a hegyvidékeken.

                Minden fajta tavasszal virágzik. Virága a délelőtti, dél közeli órákban nyílik.

                A tulipánok normál kerti talajt és lehetőleg napos fekvést kívánnak. A botanikai tulipánok virágágyban, gyepben és sziklakertben egyaránt felhasználhatók. A kerti tulipánokat többnyire csak virágágyba ültetik. A sziklakerti vagy gyepbe történő telepítés kevésbé megfelelő számukra az ide tartozó fajták erős kultúrjellege és fokozott igényei miatt. Egy helyben legfeljebb két évig hagyhatók, utána besűrűsödnek, hagymájuk elaprózódik, és virágzásuk egyre gyérebbé válik. Legjobb ezért számukra, ha minden évben nyárra felszedjük, majd ősszel újra ültetjük őket
            </p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="col-sm-4"></div>
        <img src="Kepek/Tulipan_muveszetben.jpg" alt="Tulipán" title="Tulipán">
        <h3><u>A tulipán a művészetben:</u></h3>
        <p>
            A közel-keleti növénytermesztő kultúrákban már az i. e. 3. századtól rendszeresen megtalálhatjuk ábrázolásait. Általában a nőiséget, a szerelmet jelképezte, illetve erotikus szimbólum volt, így a piros tulipán kifejezetten az érzéki örömöket fejezte ki.

            Az Oszmán Birodalomban a tulipán volt az uralkodóház emblémája.

            A keresztény szimbolikában a fehér tulipán a (testi-lelki) tisztaság jele.

            A 17. századi holland csendéleteken szirmait hullató virágként rendszerint a dolgok mulandóságát, a halált fejezi ki.
        </p>
    </div>
    </div>


</body>
</html>